<BlazoredToasts />

<div class="position-absolute top-50 start-50 translate-middle w-50 ">
    @if (isLogin)
    {
        <Login />
        <button type="button" class="btn btn-link" @onclick="() => isLogin = false">Register</button>
    }
    else
    {
        <Register />
        <button type="button" class="btn btn-link" @onclick="() => isLogin = true">Login</button>
    }
</div>



@code {
    private bool isLogin = true;

}
