<BlazoredToasts />

@if (isLogin)
{
    <Login />
    <button class="link" @onclick="() => isLogin = false">Register</button>
}
else
{
    <Register />
}


@code {
    private bool isLogin = true;

}
