@page "/login"
@layout EmptyLayout
@using System.ComponentModel.DataAnnotations
@using FinanceTracker.Web.Clients
@using FinanceTracker.Web.Components.Layout
@using FinanceTracker.Web.Models
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.Mvc

@inject AuthApiClient AuthApiClient
@inject ProtectedSessionStorage ProtectedSessionStorage
@inject NavigationManager Navigation
@rendermode InteractiveServer
@attribute [ValidateAntiForgeryToken]

<div class="card">
    <div class="card-header">
        <h3>Login</h3>
    </div>
    <div class="card-body">
        <EditForm Model="@loginModel" OnValidSubmit="HandleLogin" FormName="LoginForm">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <InputText id="email" class="form-control" @bind-Value="loginModel.UserName" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </EditForm>
    </div>
</div>

@code {

    private LoginModel loginModel = new LoginModel() {UserName = "", Password = ""};

    private async Task HandleLogin()
    {
        try
        {
            var token = await AuthApiClient.LoginAsync(loginModel.UserName, loginModel.Password);

            await ProtectedSessionStorage.SetAsync("token", token);
            
            Navigation.Refresh(true);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }

}
