@page "/userinfo/password/change"
@using FinanceTracker.Web.Clients
@using FinanceTracker.Web.Models
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthApiClient AuthApiClient
@inject IToastService toastService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>PasswordChange</h3>

<EditForm Model="@passwordChangeModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="currentPassword" class="form-label">Current Password</label>
        <InputText id="currentPassword" type="password" class="form-control" @bind-Value="passwordChangeModel.CurrentPassword" />
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <InputText id="newPassword" type="password" class="form-control" @bind-Value="passwordChangeModel.NewPassword" />
    </div>
    <div class="mb-3">
        <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
        <InputText id="confirmNewPassword" type="password" class="form-control" @bind-Value="passwordChangeModel.ConfirmPassword" />
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</EditForm>

@code {
    private ChangePaswword passwordChangeModel = new(){ ConfirmPassword = "", CurrentPassword = "", NewPassword = "" };

    private async Task HandleValidSubmit()
    {
        try
        {
            await AuthApiClient.ChangePasswordAsync(passwordChangeModel.CurrentPassword, passwordChangeModel.NewPassword);
            toastService.ShowSuccess("Password changed successfully.");
            await Task.Delay(2000);
            await AuthApiClient.LogoutAsync();
            ((CustomAuthStateProvider)AuthenticationStateProvider).NotifyUserLogout();
            NavigationManager.NavigateTo("/");
        }
        catch 
        {
            toastService.ShowError("Error changing password.");
        }
        
    }

}
