@page "/userinfo"
@using Blazored.Toast

@using FinanceTracker.Web.Clients
@using FinanceTracker.Web.Models
@rendermode InteractiveServer

@inject AuthApiClient AuthApiClient
@inject IToastService toastService

<h3>UserInfoPage</h3>

<div>
    @if (userInfo is not null)
    {
        <div>
            <p><strong>Username:</strong> @userInfo.Username</p>
            <p><strong>Email:</strong> @userInfo.Email</p>
        </div>
        <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/userinfo/edit">Edit</a></li>
                <li class="breadcrumb-item"><a href="/userinfo/password/change">Change Password</a></li>
                <li class="breadcrumb-item"><a href="/">Back to Home</a></li>
            </ol>
        </nav>   
    }
    else
    {
        <p>User information is not available.</p>
    }
</div>

@code {

    UserInfo? userInfo;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        try
        {
            userInfo = await AuthApiClient.GetCurrentUserAsync();
        }
        catch (Exception ex)
        {
            toastService.ShowError($"Error fetching user info: {ex.Message}");
        }

        StateHasChanged();
    }
}
